#modem_administration_container{
    padding: 10px 0 0;
    background-color: #2d3039;
}

.modem_administration_row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 5px;
    background-color: #343841;
    padding: 5px;
}

.modem_administration_row > p {
    color: #f3f3f3;
    margin-left: 15px;
    padding: 5px;
    align-self: center;
}
.modem_administration_row > p:hover {
    background-color: #2d3039;
}
.modem_administration_row_separator{
    flex-grow: 1;
}
.button{
    color: #f3f3f3;
    align-self: flex-end;
    padding: 5px;
    height: 100%;
}
.button:hover{
    background-color: #2d3039;
    color: #e06970;
}
