#modem_dashboard_container{
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modem_dashboard{
    flex-basis: 500px;
    height: 300px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    opacity: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.modem_dashboard:hover{
    opacity: 100%;
}
.ghost{
    border: none;
    visibility: collapse;
    overflow: visible;
    height: 0;
    padding: 0;
    margin-bottom: 0;
}
.modem_canvas{
    background-color: #343841;
    width: 100%;
    height: 250px;
    margin-bottom: 5px;
}
.modem_name{
    color: #f3f3f3;
}